@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 255, 255, 255; /* Light background */
    --foreground: 0, 0, 0; /* Light text color */
  }

  .dark {
    --background: 0, 0, 0; /* Dark background */
    --foreground: #F2F2F2; /* Dark text color */
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    /* transition: background-color 0.3s ease, color 0.3s ease; */
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

